<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/login-register.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/menu.css" type="text/css">
    <title>Create Member</title>
</head>
<body>
    <div id="app">
        <%- include('../partials/header',{nav:"nav", title:"Create Member", menu:"menu"}) %>
        <div id="main">
            <div id="errorField">
                <% if (error !== null){ %>
                    <p style="color:red; font-size: 20px;"><%= error %> </p>
                <% } %>
            </div>
            <div id="createNewMemberForm">
                <form role="form" method="POST" action="/api/users/saveMember">
                    <h2 style="text-align: center;">Enter New Member</h2>
                    <br>
                    <div class="columns">
                        <div class="membersColumn1">
                            <label for="typeID">Type ID</label>
                        </div>
                        <div class="membersColumn2">
                            <select name="typeID" id="typeID">
                            <% if(memberFees !== []){ %>
                                <% for(i = 0; i < memberFees.length; i++){ %>
                                    <option value="<%= memberFees[i].typeID %>"><%= memberFees[i].typeID %> (<%= memberFees[i].membershipType %>)</option>
                                <% } %>
                            <% } %>
                            </select>
                        </div>
                        <div class="membersColumn1">
                            <label for="lastName">Last Name</label>
                        </div>
                        <div class="membersColumn2">
                            <input type="text" name="lastName" id="lastName" value="<%= member.lastName %>">
                        </div>
                        <div class="membersColumn1">
                            <label for="firstName">First Name</label>
                        </div>
                        <div class="membersColumn2">
                            <input type="text" name="firstName" id="firstName" value="<%= member.firstName %>">
                        </div>
                        <div class="membersColumn1">
                            <label for="address">Address</label>
                        </div>
                        <div class="membersColumn2">
                            <input type="text" name="address" id="address" value="<%= member.address %>">
                        </div>
                        <div class="membersColumn1">
                            <label for="city">City</label>
                        </div>
                        <div class="membersColumn2">
                            <input type="text" name="city" id="city" value="<%= member.city %>">
                        </div>
                        <div class="membersColumn1">
                            <label for="state">State</label>
                        </div>
                        <div class="membersColumn2">
                            <input type="text" name="state" id="state" value="<%= member.state %>" minlength="2" maxlength="2">
                        </div>
                        <div class="membersColumn1">
                            <label for="zipCode">Zip Code</label>
                        </div>
                        <div class="membersColumn2">
                            <input type="text" name="zipCode" id="zipCode" value="<%= member.zipCode %>" minlength="5" maxlength="5">
                        </div>
                        <div class="membersColumn1">
                            <label for="phoneNumber">Phone Number</label>
                        </div>
                        <div class="membersColumn2">
                            <input type="text" name="phoneNumber" id="phoneNumber" value="<%= member.phoneNumber %>" minlength="10" maxlength="10">
                        </div>
                        <div class="membersColumn1">
                            <label for="cellNumber">Cell Number</label>
                        </div>
                        <div class="membersColumn2">
                            <input type="text" name="cellNumber" id="cellNumber" value="<%= member.cellNumber %>" minlength="10" maxlength="10">
                        </div>
                        <div class="membersColumn1">
                            <label for="email">Email</label>
                        </div>
                        <div class="membersColumn2">
                            <input type="email" name="email" id="email" value="<%= member.email %>">
                        </div>
                        <div class="membersColumn1">
                            <label for="membershipType">Membership Type</label>
                        </div>
                        <div class="membersColumn2">
                            <select name="membershipType" id="membershipType">
                                <% if(memberFees !== []){ %>
                                    <% for(i = 0; i < memberFees.length; i++){ %>
                                        <option value="<%= memberFees[i].membershipType %>"><%= memberFees[i].membershipType %> (<%= memberFees[i].typeID %>)</option>
                                    <% } %>
                                <% } %>
                            </select>
                        </div>
                        <div class="membersColumn1">
                            <label for="membershipStatus">Membership Status</label>
                        </div>
                        <div class="membersColumn2">
                            <select name="membershipStatus" id="membershipStatus">
                                <option value="ACTIVE">Active</option>
                                <option value="WAITING">Waiting</option>
                            </select>
                        </div>
                        <div class="column1" style="text-align: center;">
                            <input type="submit" value="Save">
                        </div>
                        <div class="column2" style="text-align: center;">
                            <input type="button" value="Cancel" onclick="window.location.href='/'">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/javascripts/main.js"></script>
</body>
</html>