<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/login-register.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/menu.css" type="text/css">
    <title>Create Member</title>
</head>
<body>
    <div id="app">
        <%- include('../partials/header',{nav:"nav", title:"Create Member", menu:"menu"}) %>
        <div id="main">
            <div id="errorField">
                <% if (error !== null){ %>
                    <p style="color:red; font-size: 20px;"><%= error %> </p>
                <% } %>
            </div>
            <div id="createNewMemberForm">
                <form role="form" method="POST" action="/api/users/saveMember">
                    <h2 style="text-align: center;">Enter New Member</h2>
                    <br>
                    <div class="columns">
                        <div class="membersColumn1">
                            <label for="typeID">Type ID</label>
                        </div>
                        <div class="membersColumn2">
                            <input type="text" name="typeID" id="typeID" value="<%= member.typeID %>">
                        </div>
                        <div class="membersColumn1">
                            <label for="lastName">Last Name</label>
                        </div>
                        <div class="membersColumn2">
                            <input type="text" name="lastName" id="lastName" value="<%= member.lastName %>">
                        </div>
                        <div class="membersColumn1">
                            <label for="firstName">First Name</label>
                        </div>
                        <div class="membersColumn2">
                            <input type="text" name="firstName" id="firstName" value="<%= member.firstName %>">
                        </div>
                        <div class="membersColumn1">
                            <label for="address">Address</label>
                        </div>
                        <div class="membersColumn2">
                            <input type="text" name="address" id="address" value="<%= member.address %>">
                        </div>
                        <div class="membersColumn1">
                            <label for="city">City</label>
                        </div>
                        <div class="membersColumn2">
                            <input type="text" name="city" id="city" value="<%= member.city %>">
                        </div>
                        <div class="membersColumn1">
                            <label for="state">State</label>
                        </div>
                        <div class="membersColumn2">
                            <input type="text" name="state" id="state" value="<%= member.state %>">
                        </div>
                        <div class="membersColumn1">
                            <label for="zipCode">Zip Code</label>
                        </div>
                        <div class="membersColumn2">
                            <input type="text" name="zipCode" id="zipCode" value="<%= member.zipCode %>">
                        </div>
                        <div class="membersColumn1">
                            <label for="phoneNumber">Phone Number</label>
                        </div>
                        <div class="membersColumn2">
                            <input type="text" name="phoneNumber" id="phoneNumber" value="<%= member.phoneNumber %>">
                        </div>
                        <div class="membersColumn1">
                            <label for="cellNumber">Cell Number</label>
                        </div>
                        <div class="membersColumn2">
                            <input type="text" name="cellNumber" id="cellNumber" value="<%= member.cellNumber %>">
                        </div>
                        <div class="membersColumn1">
                            <label for="email">Email</label>
                        </div>
                        <div class="membersColumn2">
                            <input type="email" name="email" id="email" value="<%= member.email %>">
                        </div>
                        <div class="membersColumn1">
                            <label for="dateJoined">Date Joined</label>
                        </div>
                        <div class="membersColumn2">
                            <input type="text" name="dateJoined" id="dateJoined" value="<%= member.dateJoined %>" disabled>
                        </div>
                        <div class="membersColumn1">
                            <label for="membershipType">Membership Type</label>
                        </div>
                        <div class="membersColumn2">
                            <input type="text" name="membershipType" id="membershipType" value="<%= member.membershipType %>">
                        </div>
                        <div class="membersColumn1">
                            <label for="membershipStatus">Membership Status</label>
                        </div>
                        <div class="membersColumn2">
                            <input type="text" name="membershipStatus" id="membershipStatus" value="<%= member.membershipStatus %>">
                        </div>
                    </div>
                    <hr>
                    <br>
                    <div class="row">
                    <div>
                        <input type="submit" value="Save">
                        <input type="button" value="Cancel" onclick="window.location.href='/'">
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/javascripts/main.js"></script>
</body>
</html>