<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/history.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/menu.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/balances.css" type="text/css">
    <title>Monthly Invoice</title>
</head>
<body>
    <div id="app">
        <%- include('../partials/header',{nav:"nav", title:"Member Invoices", menu:"menu"}) %>
        <div id="balances">
            <div id="checkingBal">
                <div id="cBalance" class="balance">
                    <%= member.lastName %>, <%= member.firstName %>
                    <br>
                    <%= member.address %>
                    <br>
                    <%= member.city %>, <%= member.state %> <%= member.zipCode %>
                </div>
                <div id="cAmount" class="amount">Membership: <%= member.membershipType %></div>
            </div>
        </div>
        <div id="main">
            <div id="tableDiv">
                <p style="text-align: left;text-decoration: underline;font-size: x-large;">Monthly Charges:</p>
                <table id="table">
                    <tr style="text-align: left; text-decoration: underline;">
                        <th id="actionDate">DATE</th>
                        <th id="actionDesc">AREA</th>
                        <th id="newBalance"></th>
                        <th id="actionAmount">AMOUNT</th>
                    </tr>
                    <% sortedTransactions = transArray.sort((a,b) => {let transA = a.date; let transB = b.date; transB - transA}); %> 
                    <% for(i = sortedTransactions.length - 1; i >= 0; i--){ %>
                        <tr>
                        <td id="actionDate"><%= String(sortedTransactions[i].date).slice(4, 15) %></td>
                        <td id="actionDesc"><%= sortedTransactions[i].location %></td>
                        <td id="newBalance"></td>
                        <td id="actionAmount">$<%= sortedTransactions[i].amount %>.00</td>
                        </tr>
                    <% } %>
                    <tr>
                        <td id="actionDate"></td>
                        <td id="actionDesc"></td>
                        <td id="newBalance" style="text-align: right;">Subtotal</td>
                        <td id="actionAmount">$<%= subtotal %>.00</td>
                    </tr>
                <br> 
                <br>
                <% if(feeMet === true){ %>
                    <h4>Minimum Monthly Charge Met.</h4>
                    <br>
                    <br>
                    <br>
                        <tr>
                            <td id="actionDate">Membership Fee</td>
                            <td id="actionDesc"></td>
                            <td id="newBalance"></td>
                            <td id="actionAmount">$<%= monthlyFee %>.00</td>
                        </tr>
                        <tr>
                            <td id="actionDate"></td>
                            <td id="actionDesc"></td>
                            <td id="newBalance" style="text-align: right;">Total</td>
                            <td id="actionAmount">$<%= totalFees %>.00</td>
                        </tr>
                    </table>
                <% } else { %>
                    <tr>
                        <td id="actionDate" style="color: red;">Minimum Monthly Charge Not Met.</td>
                        <td id="actionDesc"></td>
                        <td id="newBalance"></td>
                        <td id="actionAmount"></td>
                    </tr>
                        <td id="actionDate"></td>
                        <td id="actionDesc"></td>
                        <td id="newBalance"></td>
                        <td id="actionAmount"></td>
                    </tr>
                    <tr>
                        <td id="actionDate">Membership Fee</td>
                        <td id="actionDesc"></td>
                        <td id="newBalance"></td>
                        <td id="actionAmount">$<%= monthlyFee %>.00</td>
                    </tr>
                    <tr>
                        <td id="actionDate">Minimum Monthly Charge</td>
                        <td id="actionDesc"></td>
                        <td id="newBalance"></td>
                        <td id="actionAmount">$<%= minMonthlyCharge %>.00</td>
                    </tr>
                    <tr>
                        <td id="actionDate"></td>
                        <td id="actionDesc"></td>
                        <td id="newBalance" style="text-align: right;">Total</td>
                        <td id="actionAmount">$<%= totalFees %>.00</td>
                    </tr>
                </table>
                <% } %> 
            </div>
        </div>
    </div>
    <script src="/javascripts/main.js"></script>
</body>
</html>